.board {
  padding: 10px;
  user-select: none;
  cursor: pointer;
}
.row {
  display: flex;
}
.cell {
  background: blue;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.has-ship {
    background: gray;
}

.has-hit {
    background: red;
}
.has-miss {
    background: white
}
